/* 全局默认鼠标指针 */
body,
html {
    cursor: url('./mouse/alternate.cur'), auto !important;
}

/* 悬停图片时的鼠标指针 */
/* 选择链接标签时的鼠标指针 */
/* 选中输入框时的鼠标指针 */
/* 悬停按钮时的鼠标指针 */
/* 悬停列表标签时的鼠标指针 */
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
/* 悬停页码时的鼠标指针 */
/* 悬停菜单栏时的鼠标指针 */
img,
a:hover,
input:hover,
button:hover,
i:hover,
#footer-wrap a:hover,
#pagination .page-number:hover,
#nav .site-page:hover {
    cursor: url('./mouse/link.cur'), auto !important;
}

/* 标题栏标签图标样式 */
@font-face {
    font-family: "iconfont"; /* Project id 3870682 */
    src: url('iconfont.woff2?t=1675073034528') format('woff2'),
         url('iconfont.woff?t=1675073034528') format('woff'),
         url('iconfont.ttf?t=1675073034528') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-mulu:before {
    content: "\e890";
  }
  
  .icon-shipin:before {
    content: "\e657";
  }
  
  .icon-wp-sj:before {
    content: "\e72a";
  }
  
  .icon-yinle:before {
    content: "\e600";
  }
  
  .icon-xiuxiankafeiyule:before {
    content: "\e656";
  }
  
  .icon-biaoqian:before {
    content: "\e63d";
  }
  
  .icon-fenlei:before {
    content: "\e62f";
  }
  
  .icon-guanyu:before {
    content: "\e655";
  }
  
  .icon-shijianxian:before {
    content: "\e674";
  }
  
  .icon-shouye:before {
    content: "\e751";
  }
  
  